                        <div class="otziv">
                    	<p style="font: italic 19px Georgia,'Times New Roman',Times,serif;"><a style="color:#39556d" href="/reviews"><%=translate "users_reviews"%></a></p>
<%for review in Review.find(:all, :conditions => ["moderated = 1 AND language = ?", @language], :limit => 2, :order => "id DESC")%>						
                        <p>— <%=review.body%> 
                        <strong><%=standartDate review.created_at%>, <%=review.name%></strong></p>
<%end%>						
                    </div>