                    <div class="block1">
                    	<div class="top"></div>
                    	<div class="cent">
                            <p><strong>Для получения скидок</strong> <a href="/users/new">зарегистрируйтесь</a></p>
                        </div>
                        <div class="bot"></div>
                    </div>
